html {
    scroll-behavior: smooth;
}

nav img {
    border-radius: 15%;
    width: 70px;
    box-shadow: -2px 2px 10px 2px rgba(0, 0, 0, 0.747);
}

nav {
    position: relative;
    z-index: 2;
}

.carousel-item {
    height: 100vh;
    overflow: hidden;
}

.carousel img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    animation: zoom 6s;
}

@keyframes zoom {
    100% {
        transform-origin: 50% 65%;
        transition: transform 6s, filter 3s ease-in-out;
        transform: scale(1.5);
    }
}

.carousel-caption {
    text-shadow: -2px 2px 10px rgb(170, 93, 93);
    z-index: 2;
}

.caption1 {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.caption2 {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.caption2 h1{
    font-size: 140%;
}
.carousel .d-flex h1 {
    font-size: 500%;
}

#carouselExampleFade {
    margin-top: -85px;
}

/* .overlay {
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0.651), transparent);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

/* for home page */

@keyframes welcome_text {
    0% {
        color: transparent;
        text-shadow: none;
    }

    100% {
        color: white;
    }
}

@keyframes to_text {
    0% {
        color: transparent;
        text-shadow: none;

    }

    50% {
        color: transparent;
        text-shadow: none;
    }

    100% {
        color: white;
    }
}

@keyframes kusko_text {
    0% {
        color: transparent;
        text-shadow: none;

    }

    100% {
        color: white;
    }
}

@keyframes enterprise_text {
    0% {
        color: transparent;
        text-shadow: none;

    }

    50% {
        color: transparent;
        text-shadow: none;
    }

    100% {
        color: white;
    }
}

@keyframes catering_text {
    0% {
        color: transparent;
        text-shadow: none;

    }

    100% {
        color: white;
    }
}

@keyframes services_text {
    0% {
        color: transparent;
        text-shadow: none;

    }

    50% {
        color: transparent;
        text-shadow: none;
    }

    100% {
        color: white;
    }
}

.welcome_text {
    animation-name: welcome_text;
    animation-duration: 1s;
}

.to_text {
    animation-name: to_text;
    animation-duration: 1s;
}

.kusko_text {
    animation-name: to_text;
    animation-duration: 3s;
}

.enterprise_text {
    animation-name: enterprise_text;
    animation-duration: 3.5s;
}

.catering_text {
    animation-name: to_text;
    animation-duration: 4s;
}

.services_text {
    animation-name: enterprise_text;
    animation-duration: 5.5s;
}

.fixed-background {
    overflow: hidden;
    padding: 3rem 0;
    text-shadow: -1px 1px 4px black;
}

.fixed {
    background-image: url(images/slides/trays.jpeg);
    opacity: 0.2;
    position: fixed;
}

.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.bi-arrow-up-circle {
    font-size: 200%;
    animation-name: fade;
    animation-duration: 30s;
    color: orange;
}

.go_up {
    position: sticky;
    top: 80vh;
    z-index: 5;
    margin-top: -98px;
}

@keyframes fade {
    0% {
        color: transparent;
    }
}

.col-12,
.col-sm-4 {
    height: 350px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.5);
}

.gallery {
    margin-bottom: 150px;
}

.gallery .row {
    padding-bottom: 20px;
}

#contact {
    background-image: url(images/woman\ standing\ over\ food.jpeg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.overlay2 {
    background-color: black;
    width: 100%;
    opacity: 0.85;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.contact_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.contact_text ul {
    list-style-type: none;
}

ul li {
    padding-left: 40px;
}

.contact_text h1 {
    font-size: 400%;
}

.bi {
    padding-right: 5px;
}
.copyright{
    font-size: 80%;
}
@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {
    .carousel .d-flex h1 {
        font-size: 390%;
    }

    .col-12,
    .col-sm-4 {
        height: 300px;
    }
}

@media only screen and (max-width: 992px) {
    .carousel .d-flex h1 {
        font-size: 300%;
    }

    .col-12,
    .col-sm-4 {
        height: 200px;
    }
    ul h5{
        font-size: 90%;
    }
    .contact_text h1 {
        font-size: 250%;
    }
}

@media only screen and (max-width: 768px) {
    .carousel .d-flex h1 {
        font-size: 290%;
    }

    .col-12,
    .col-sm-4 {
        height: 150px;
    }
    ul h5{
        font-size: 80%;
    }
    .contact_text .bi {
        font-size: smaller;
        padding-right: 2px;
    }
    ul li {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .carousel .d-flex h1 {
        font-size: 200%;
    }

    .images .row {
        padding-bottom: 0px;
    }

    .col-12,
    .col-sm-4 {
        height: 400px;
        padding-bottom: 50px;
    }
    .contact_text h1{
        font-size: 170%;
    }
}

@media only screen and (max-width: 400px) {
    nav img {
        width: 50px;
    }

    .carousel .d-flex h1 {
        font-size: 160%;
    }
    .contact_text h1{
        font-size: 140%;
    }

    .col-12,
    .col-sm-4 {
        height: 300px;
        padding-bottom: 50px;
    }

}
